@use "./mixin";
@use "./variables";
header {
  background: rgba(255, 255, 255, 0.44);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.15);

  @include mixin.flexBox;
  padding: 27px 17px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  //logo
  .logo {
    font-weight: 700;
    font-size: 33px;
    white-space: nowrap;
    color: variables.$text-color;

    //
    span {
      color: variables.$main-color;
    }
  }
  // Navigation
  nav {
    @include mixin.flexBox;
  }
}
