// Scss Imports
// Bir scss dosyası içerisinde bir use kullanımı varsa bu ilk satırda olmalıdır.Aksi halde hata alınır.
@use "./reset";
@use "./variables";
@use "./header";
@use "./home";
@use "./educations";
@use "./aboutus";
@use "./popularcourses";
@use "./contact";
@use "./footer";

// * Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

// Global Styles
body {
  background-color: variables.$bg-color;
  color: variables.$text-color;
  font-family: variables.$font-family;
}

a {
  color: variables.$text-color;
}
